// sass --watch src/styles/scss/index.scss src/styles/index.css

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "resets";
@import "mixins";

:root {
  --toggle: hsl(230, 22%, 74%);
  --bg-color: hsl(0, 0%, 100%);
  --top-bg-pattern-color: hsl(225, 100%, 98%);
  --card-bg-color: hsl(227, 47%, 96%);
  --card-bg-color-hover: #e1e4f0;
  --font-color-1: hsl(228, 12%, 44%);
  --font-color-2: hsl(230, 17%, 14%);
  --header-border-bottom: hsl(230, 19%, 60%);
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

* {
  transition: color, background-color 250ms ease-in-out;
}

body {
  background-color: var(--bg-color);
}

.app {
  width: 87%;
  margin: auto;
  padding: 2rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  &__title-section {
    border-bottom: solid 1px var(--header-border-bottom);
  }
  &__title {
    font-size: 24px;
    color: var(--font-color-2);
    margin-bottom: 4px;
  }

  &__subtitle {
    font-size: 1rem;
    color: var(--font-color-1);
    margin-bottom: 21px;
  }
}

.theme-switcher {
  color: var(--font-color-1);
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 21px 0 30px 0;
  align-items: center;

  @include switch(var(--toggle), var(--card-bg-color), 24px);
}

.social-views {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin-bottom: 44px;
}

.social-view-item {
  cursor: pointer;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--card-bg-color);

  &:hover,
  &:focus {
    background-color: var(--card-bg-color-hover);
  }

  // top-ribbon
  &::before {
    content: "";
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 99;
    width: 100%;
    height: 4px;
  }

  &--facebook::before {
    background-color: var(--facebook);
  }

  &--twitter::before {
    background-color: var(--twitter);
  }

  &--instagram::before {
    background: var(--instagram);
  }

  &--youtube::before {
    background-color: var(--youtube);
  }

  &__flex {
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__handle {
    font-size: 12px;
    color: var(--font-color-1);
  }

  &__data {
    color: var(--font-color-2);
    font-size: 56px;
    font-weight: 700;
  }

  &__data-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--font-color-1);
  }
}

.change {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 5px;

  &__icon {
    order: 1;
  }

  &__text {
    order: 2;
    color: var(--lime-green);
  }

  &--negative {
    color: var(--bright-red);
  }
}
.overviews {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin-bottom: 44px;

  &__label {
    font-size: 24px;
    color: var(--font-color-1);
    margin-bottom: 24px;
  }
}

.overview-item {
  cursor: pointer;
  background-color: var(--card-bg-color);
  width: 100%;
  border-radius: 5px;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "label logo"
    "data change";
  gap: 1rem;

  &:hover,
  &:focus {
    background-color: var(--card-bg-color-hover);
  }

  &__label {
    grid-area: label;
    justify-self: left;
    align-self: center;
    color: var(--font-color-1);
    font-size: 1rem;
    font-weight: 700;
  }

  &__logo {
    grid-area: logo;
    justify-self: right;
    align-self: center;
  }

  &__data {
    grid-area: data;
    justify-self: left;
    align-self: center;
    color: var(--font-color-2);
    font-size: 2.3rem;
    font-weight: 700;
  }

  .change {
    grid-area: change;
    justify-self: right;
    align-self: center;
    padding: unset;
  }
}

@media screen and (min-width: 557px) {
  .header {
    flex-direction: row;
    justify-content: space-between;

    &__title-section {
      border: unset;
    }
  }
}
